# Big media files
projects/*/source/*.mp3
projects/*/source/*.mp4
projects/*/source/*.webm
projects/*/source/*.m4a
projects/*/source/*.wav
projects/*/audio/*.mp3
projects/*/audio/*.wav

# Python
__pycache__/
*.pyc
.venv/

# System
.DS_Store
